<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.repository.BoardDao">

	<select id="boardList" resultType="BoardDto" parameterType="String">
		select board.*, member.nick, member.open, member.id, member.profile from (((select * from board order by reg desc) board inner join member on board.writer = member.id) inner join friend on board.writer = friend.follow) where follower = #{id} and  rownum between 1 and 5
	</select>
	
	<select id="addList" resultType="BoardDto" parameterType="map">
		select inlist.* from (select board.*, member.nick, member.open,member.id, member.profile, row_number() over(order by board.reg desc) rnum from (((select * from board order by reg desc) board inner join member on board.writer = member.id) inner join friend on board.writer = friend.follow) where follower = #{id}) inlist where rnum between #{start} and #{end}
	</select>
	
	<select id="getNo" resultType="int">
		 select board_seq.nextval from dual
	</select>
	
	<insert id="write" parameterType="BoardDto">
		insert into board values(#{no}, #{writer}, #{content}, sysdate, null,0)
	</insert>
	
	<update id="good" parameterType="map">
		update board set good = #{goodList} where no = #{no}
	</update>
	
	<select id="getBoardView" parameterType="int" resultType="BoardDto">
		select board.*, member.nick,member.id, member.profile from (board inner join member on board.writer = member.id) where board.no = #{no}
	</select>
	
	<select id="goodList" parameterType="int" resultType="String">
		select good from board where no = #{no} 
	</select>
	
	<select id="listCnt" resultType="int">
		select count(no) from board
	</select>
	
	<select id="getHeavyUploader" resultType = "hashmap">
		select * from (select rownum rn, A.* from(select writer, count(*) count from board group by writer order by count desc)A) where rn between 1 and 20
	</select>
	
	
	<select id="reportList" resultType="BoardDto" >
		select * from board where report > 10 order by report desc, reg asc 
	</select>
	
	<delete id="remove_board" parameterType="int">
		delete board where no = #{no}
	</delete>
	
	<select id="searchList" resultType="BoardDto" parameterType="String">
		select board.*, member.nick, member.open,member.id, member.profile from (((select * from board order by reg desc)board inner join hashtag on board.no = hashtag.bno) inner join member on board.writer = member.id) where hashtag.tag = #{key} and member.open = '0' and rownum between 1 and 5
	</select>
	
	<select id="addSearchList" resultType="BoardDto" parameterType="map">
		select inlist.* from (select board.*, member.nick, member.open,member.id, member.profile, row_number() over(order by board.reg desc) rnum from (((select * from board order by reg desc) board inner join hashtag on board.no = hashtag.bno) inner join member on board.writer = member.id) where hashtag.tag = #{key} and member.open = '0') inlist where rnum between #{start} and #{end}
	</select>

	<select id="my_list" parameterType="String" resultType="BoardDto">
		select * from board where writer=#{writer}
	</select>
	
	<update id="report_board" parameterType="int">
		update board set report = report+1 where no = #{no}
	</update>
	
	<select id="scrap_list" parameterType="int" resultType="BoardDto">
		select * from board where no=#{no}
	</select>
	
	<select id="get_writer" parameterType="int" resultType="String">
		select writer from board where no=#{no}
	</select>
	
	<select id="searchListByContent" resultType="BoardDto" parameterType="String">
		select * from board where content like '%'||#{keyword}||'%' order by reg asc
	</select>

</mapper>