<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.repository.FriendDao">
	<insert id="follow" parameterType="friendDto">
		insert into friend values(#{follower}, #{follow})
	</insert>
	
	<delete id="unfollow" parameterType="friendDto">
		delete friend where follow=#{follow} and follower=#{follower}
	</delete>
	
	<select id="follow_list" parameterType="String" resultType="String">
		select follow from friend where follower=#{follower}
	</select>
	
	<select id="follower_list" parameterType="String" resultType="String">
		select follower from friend where follow=#{follow}
	</select>
	
	<select id="follow_cnt" parameterType="String" resultType="int">
		select count(*) from friend where follower=#{follower}
	</select>
	
	<select id="follower_cnt" parameterType="String" resultType="int">
		select count(*) from friend where follow=#{follow}
	</select>
	
	<select id="search" parameterType="friendDto" resultType="friendDto">
		select * from friend where follow=#{follow} and follower=#{follower} 
	</select>
	
	<select id="follow_list_search_name" parameterType="map" resultType="String">
		select id from (select * from member inner join friend on (member.id = friend.follow) where name like #{keyword}||'%') where follower=#{follower}
	</select>
	
	<select id="follower_list_search_name" parameterType="map" resultType="String">
		select id from (select * from member inner join friend on (member.id = friend.follower) where name like #{keyword}||'%') where follow=#{follow}
	</select>
	
	<select id="follow_list_search_nick" parameterType="map" resultType="String">
		select id from (select * from member inner join friend on (member.id = friend.follow) where nick like #{keyword}||'%') where follower=#{follower}
	</select>
	
	<select id="follower_list_search_nick" parameterType="map" resultType="String">
		select id from (select * from member inner join friend on (member.id = friend.follower) where nick like #{keyword}||'%') where follow=#{follow}
	</select>
</mapper>