<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.repository.MemberDao">
	<insert id="register" parameterType="memberDto">
		insert into member(no, id, name, nick, pw, salt, loop) values(member_seq.nextval, #{id}, #{name}, #{nick}, #{pw}, #{salt}, #{loop})
	</insert>
	
	<select id="login" parameterType="memberDto" resultType="memberDto">
		select * from member where id=#{id} and pw=#{pw}
	</select>
	
	<update id="reset_pw" parameterType="memberDto">
		update member set pw=#{pw}, salt=#{salt}, loop=#{loop} where id=#{id}
	</update>
	
	<select id="get_salt" parameterType="String" resultType="String">
		select salt from member where id=#{id}
	</select>
	
	<select id="get_loop" parameterType="String" resultType="int">
		select loop from member where id=#{id}
	</select>
	
	<select id="member_list"  resultType="memberDto">
		select * from member order by no asc
	</select>
</mapper>