<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.repository.MessageDao">
	<insert id="send_message" parameterType="messageDto">
		insert into message(no, content, send, receive, reg) values(message_seq.nextval, #{content}, #{send}, #{receive}, sysdate)
	</insert>
	
	<select id="get_message" parameterType="messageDto" resultType="messageDto">
		select * from message where send=#{send} and receive=#{receive} order by reg asc
	</select>
	
</mapper>