<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.repository.NoticeDao">
	<insert id="send_notice" parameterType="noticeDto">
		insert into notice(receiver, sender, type, bno) values(#{receiver}, #{sender}, #{type}, #{bno})
	</insert>
	
	<select id = "notice_list" parameterType="String" resultType="mNDto">
	 	select id,reg,type,read,bno,nick,profile from (select * from notice inner join member on (notice.sender = member.id) ) where receiver=#{id} order by reg desc
	</select>
</mapper>