@charset "UTF-8";

/* 테스트용 영역표시 */
header, footer, main, nav, section, div, article, aside {
/* 	border: 1px dotted black; */
}
/* 홈페이지 기본 레이아웃 구성 */
main {
	width: 1100px;
	margin: 0px auto;
}

header, footer {
	/* 		높이 고정하고 사용하는 경우 */
	/* 		height:100px; */
	/* 		overflow: hidden;  */
	/* 		가변적으로 높이를 적용하는 경우  */
	min-height: 10px;
	padding: 0px;
	text-align: center;
}

nav {
	padding: 20px;
}

section {
	min-height: 500px;
	padding: 20px;
	text-align: center;
}

/* 입력창 관련 스타일 */
.form-input, .form-btn {
	width: 100%;
	padding: 10px;
	border: 1px solid black;
	outline: none;
}

.form-input:focus {
	border: 1px solid blue;
}

.form-btn {
	background-color: #00A2E8;
	color:white;
}

.inline {
	display: inline-block;
	width: auto !important;
}

/* 배치 관련 스타일 */
.container-10 {
	width: 10%;
	margin: auto;
}

.container-20 {
	width: 20%;
	margin: auto;
}

.container-30 {
	width: 30%;
	margin: auto;
}

.container-40 {
	width: 40%;
	margin: auto;
}

.container-50 {
	width: 50%;
	margin: auto;
}

.container-60 {
	width: 60%;
	margin: auto;
}

.container-70 {
	width: 70%;
	margin: auto;
}

.container-80 {
	width: 80%;
	margin: auto;
}

.container-90 {
	width: 90%;
	margin: auto;
}

.container-100 {
	width: 100%;
	margin: auto;
}
.page-container{
	width:900px;
	margin: auto;
	padding:15px;
}
@media screen and (max-width:900px){
    .page-container{
        width:100%;
    }
}

.row {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
}

.my-align {
	border: 1px solid lightgray;
	text-align:left;
	width: 100%;
}

.main-view-cover{
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.empty-row {
	height: 50px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center{
	text-align : center;
}

/* 테이블 관련 스타일 */
.table {
	width: 100%;
}

.table td, .table th {
	padding: 5px;
}

/* 테이블 제목에 색상 부여*/
.table>thead>tr {
	background-color: #CECECE;
}

/* 테이블에 테두리를 사용하고 싶지 않은 경우 */
.table-noline, .table-noline th, .table-noline td {
	border: none !important;
}

/* 얼룩 무늬 테이블 구현 */
.table-stripe>tbody>tr:nth-child(2n) {
	background-color: lightyellow;
}

/* padding이 적용되지 않도록 설정 */
.table-nopadding th, .table-nopadding td {
	padding: 0px !important;
}

/* 글꼴 관련 스타일 */
@font-face {
	font-family: nanumGothic;
	src: url("/instory/res/font/NanumGothic.ttf");
}

@font-face {
	font-family: nanumPen;
	src: url("/instory/res/font/NanumPen.ttf");
}

@font-face {
	font-family: daumRegular;
	src: url("/instory/res/font/Daum_Regular.ttf");
}

@font-face {
	font-family: binggrae;
	src: url("/instory/res/font/Binggrae.ttf");
}

* {
	font-family: daumRegular;
}

.f1 {
	font-size: 45px;
}

.f2 {
	font-size: 30px;
}

.f3 {
	font-size: 20px;
}

.f4 {
	font-size: 12px;
}

/* textarea 크기 변경 금지 */
textarea {
	resize: none;
}

/* 링크 스타일 */
a:visited, a:link {
	color: black;
	text-decoration: none;
}

a:hover {
	color: blue;
}

nav a {
	display: inline-block;
	/* 	width:100px; */
	margin-right: 30px;
	font-size: 20px;
}

/* 이미지 관련 스타일 */
.gallary {
	opacity: 0.5;
}

.gallary:hover {
	opacity: 1;
}

/* 게시판 페이지 네비게이션 상자 */
.board-navigation>div {
	display: inline-block;
	min-width: 30px;
	padding: 5px;
}

.board-navigation .active {
	color: red;
}

/* 상단바 스타일*/
header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background-color: #00A2E8;
	padding: 0.2em;
	z-index: 1000;
}

#menu {
	flex-grow:1;
	width: 65%;
	position: fixed;
	display: flex;
	padding: 1em;
	margin-left: 15%;
	order:1;
}

#menu>a:hover {
	background-color: lightblue;
	cursor: pointer;
}

#menu>a, #menu>p {
	display: block;
	color: white;
	text-decoration: none;
	font-size: 200%;
}

#menu>a>i {
	font-size: 1.5em;
}

#menu>a.left {
	margin-right: 1.5em;
}

#menu>a.right {
	margin-left: 47%;
}

/* #menu>a.inner-right { */
/* 	margin-left: 0em; */
/* } */

/* 삐져나와서 패딩처리 본문 내용 */
#main-view>div {
	/* 	padding-left: 2em; */
	
}
/*상단 유저 상태 표시창*/
#top-chaser{
	margin-left:-7px;
	padding-left:17.5%;
	display:flex;
	order:3;
	flex-grow:1;
	min-width:150px;
/* 	position: fixed; */
	max-height : 250px;
	width: 100%;
/* 	top:14.6%; */
/* 	z-index: 10; */
}

/* 오른쪽 유저 상태 표시창 */
#chaser {
	display: flex;
	position: fixed;
	min-width: 250px;
	min-height: 300px;
	width: 18%;
	height: 60%;
	z-index: 10;
	left: 80%;
	top: 20%;
	background-color: #00A2E8;
}

#chaser>div {
	padding-left: 15px;
}

.user-name {
	display: inline-block;
	text-align: center;
	font-size: 1.5em;
	color: white;
}

.user-profile {
	display: inline-block;
	flex-grow: 0.5;
}

.user-alert, .top-user-alert {
	max-height: 250px;
	overflow: auto;
}

.pleft {
	display: inline-block;
	color:white;
}

.pleft:hover{
	background-color: lightblue;
	color:white;
}

.pright {
	display: inline-block;
	margin-left: 13em;
}

/*우측 프로필 버튼 스타일*/
.profile-btn {
	margin-left: 0.6em;
	width: 90%;
}

/* 알림창 스타일 */
.alert-row{
	display: flex;
	flex-wrap: wrap;
}

.alert-profile{
	display:inline-block;
	flex-grow: 0.1;
	order: 1;
}

.alert-content{
	display:inline-block;
	flex-grow: 0.7;
	order: 1;
}

.alert-move{
	display:inline-block;
	flex-grow: 0.1;
	order: 1;
}

.alert-date{
	flex-grow: 0.1;
	order: 1;
}


/* 게시글 상세보기 스타일 */
.content-view {
	border: 1px solid lightgray;
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	height: 75%;
	min-height: 60%;
}

.content-header {
	border-bottom: 1px solid lightgray;
	order: 0;
	flex-grow: 1;
	width: 100%;
	max-height: 10%;
}

.content-photo {
	border: 1px solid lightgray;
	flex-grow : 0.4;
	width: 46%;
	max-height:88%;
	margin-left: 0;
}

.content-text {
	flex-grow:0.4;
	padding: 3px;
	width: 46%;
	height: 87%;
	max-height:88%;
	background-color: lightgray;
}

.content-photo, .content-text {
	order: 1;
}

.content-post {
	min-height:35%;
	max-height: 100%;
	margin: 1px;
}

.content-reply {
	min-height: 43%;
	max-height: 43%;
	margin: 1px;
	overflow: auto;
}

.reply-input {
	width: 80%;
	min-height: 5%;
	max-height: 5%;
	margin: 1px;
}

.main-view-cover {
	max-width: 100%;
}

.add-aglin {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.reply-love {
	float: right;
}

.reply-text {
	font-size: 1.35em;
	width: 100%;
	float: left;
}

.view-swpier{
	max-height: 80%;
}

/* 검색창 스타일 */
#search {
	width:100%;
	display: flex;
/* 	position: fixed; */
/* 	top:22.5%; */
	flex-wrap: wrap;
/* 	z-index: 10; */
}

/* 검색창 스타일*/
.top-search {
	text-align: center;
	flex-grow: 1;
	margin-left: 10%;
	margin-right: 10%;
	order: 1;
}

/*검색 결과 스타일*/
#search-result {
	width:70%;
	text-align: center;
/* 	position: fixed; */
/* 	top:26.5%; */
/* 	z-index:10; */
	flex-grow: 1;
	margin-left: 10%;
	margin-right: 10%;
	order: 2;
}

/*상세보기 사이즈 변경 스타일*/
@MEDIA SCREEN AND (MIN-WIDTH:751PX) {
	#menu>a, #menu>p {
		font-size: 200%;
	}
}
@MEDIA SCREEN AND (MAX-WIDTH:1130PX) {
	.pleft{
		padding-top: 20%;
	}
	#main-view {
		margin-left: 24%;
	}
}

@MEDIA SCREEN AND (MAX-WIDTH:850PX) {
	#menu>a.right {
		margin-left: 30%;
	}
	.content-photo, .content-text {
		width: 100%;
		flex-grow: 1;
	}
	.content-view {
		overflow:auto;
		font-size: 1em;
	}
	#menu>a, #menu>p {
		font-size: 150%;
	}
}
@MEDIA SCREEN AND (MAX-WIDTH:565PX) {
	#menu>a.right {
		margin-left: 10%;
	}
	#top-chaser {
		padding-left: 0px;
	}
	.reply-input{
		width: 75%;
	}
	.content-view {
		font-size: 0.2em;
	}
	#main-view {
		margin-left: 27%;
	}
	#menu{
		margin-left:15%;
	}
	#menu>a, #menu>p {
		font-size: 122%;
	}
}

@MEDIA SCREEN AND (MAX-WIDTH:400PX) {
	#menu>a.right {
		margin-left: 5%;
	}
	#top-chaser {
		padding-left: 0px;
	}
	.reply-input{
		width: 75%;
	}
	.content-view {
		font-size: 0.2em;
	}
	#main-view {
		margin-left: 27%;
	}
	#menu{
		margin-left:3%;
	}
	#menu>a, #menu>p {
		font-size: 110%;
	}
}

